@use "./variables" as *;
@use "bootstrap" with (
  $primary: $primary,
  $secondary: $secondary,
  $danger: $danger,
  $headings-font-family: $headings-font-family,
  $font-family-base: $font-family-base,
);

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(#{red($secondary)}, #{green($secondary)}, #{blue($secondary)}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand {
  font-family: $headings-font-family;
}

body {
  padding-top: 55px; // ajusta según la altura del navbar
}

.navbar .nav-link.dropdown-toggle {
  color: $secondary !important;
}
.navbar .navbar-toggler {
  border-color: $secondary;
  color: $secondary;
}

.badge-circle {
  width:  clamp(3rem, 15vw, 20rem);
  height: clamp(3rem, 15vw, 20rem);
  font-size: clamp(1rem, 5vw, 4.5rem) !important;
}

.plus-icon {
  opacity: 0.25; // estado normal
  transition: opacity 1s ease; // para animación suave

  &:hover {
    opacity: 0.75;
    cursor: pointer; // opcional
  }
}

.hidden{
  visibility: hidden;
}